extends ../layout
block content 
    include ../navbar
    .content(style="margin-top: 50px;" class="container")
        .content(style="margin: auto; text-align: center;" class="container")
            h1 Modificar Comentario
        .content(style="margin: auto; text-align: center;" class="container")
            form(action=`/comentario/modificarComentario/${comentario.id_comentario}`, method="post")
                .row 
                    .md-3 
                        label(for="comentario", class="form-label", style="text-align: center; margin-top: 25px; margin-bottom: 25px;") Comentario
                        br
                        textarea(class="form-control", style="width: 400px; height: 200px; margin: auto;" name="texto", id="comentario", rows="5") #{comentario.texto}
                    .md-3(style="margin-top: 25px;")                     
                        input(type="submit", class="btn btn-info", value="Guardar Cambios")
                        a(class="btn btn-warning" style="margin-left: 10px" href="/") Volver 